.main{
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;

}
.main >div>img{
    width: 100%;
}
.maintxt{
    padding: 3em 2em;
}
.list img{
    max-width: 100%;
}
.aboutcontant >div{
    padding: 2em 1em 0em 1em;
}
.aboutcontant img{
    max-width: 100%;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.list{
    overflow: hidden;
}
.list >div{
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    padding: 2em 0em;
}

@media screen and (orientation: landscape){
    .main{
        white-space: nowrap;
    }
    .main >div{
        white-space: normal;
        display: inline-block;
        vertical-align: top;

    }
    .mainimg{
        width:60%;
    }
    .maintxt{
        width:40%;
        padding:3em 0em;
    }
    .maintxt > p{
        padding:2em;
    }
    .aboutcontant >div{
        padding: 2em 4em 0em 4em;
    }

}
@media screen and (orientation: portrait){
    
}
@media screen and (max-width: 520px){
    .list >div{
        padding: 2em 1em 2em 1em;
    }
}
@media screen and (min-width: 521px) and (max-width: 1060px){
    .list >div{
        width:40%;
        margin:2.5% 5%;
    }
}
@media screen and (min-width: 1061px){
    .list >div{
        width:20%;
        margin:2.5%;
    }
}