.main{
    overflow: hidden;
    background-color: #333;
    color: white;
    text-align: center;

}
.main >div>img{
    width: 100%;
}
.maintxt{
    padding: 3em 2em;
}
.list img{
    max-width: 100%;
}
.aboutcontant >div{
    padding: 2em 1em 0em 1em;
}
.aboutcontant img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
@media screen and (orientation: landscape){
    .main{
        white-space: nowrap;
    }
    .main >div{
        white-space: normal;
        display: inline-block;
        vertical-align: top;

    }
    .mainimg{
        width:60%;
    }
    .maintxt{
        width:40%;
        padding:3em 0em;
    }
    .maintxt > p{
        padding:2em;
    }
    .list{
        overflow: hidden;
        white-space: nowrap;
    }
    .list >div{
        vertical-align: top;
        display: inline-block;
        width:30%;
        white-space: normal;
        padding-bottom: 2em 0em;
        margin-left:10%;
        margin-right: 10%;

    }
    .aboutcontant >div{
        padding: 2em 4em 0em 4em;
    }
}
@media screen and (orientation: portrait){
    .list >div{
        padding: 2em 1em 2em 1em;
    }
}