body{
    padding: 0px;
    margin: 0px 0px;

}
.maxwidth{
    max-width: 1200px;
    margin: auto;
}
ul.menulist li{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
.a:link,.a:hover,.a:active,.a:visited{
    color:#333333;
}