.hotproducts{
    margin-top: 1em;
    margin-bottom: 1em;
    width:100%;
}
.hotproductslist{
    width:100%;
}
.hotproductslist>div{
    width:calc(25% - 12px);
    display: inline-block;
    vertical-align: top;
    margin:12px 5px;
    position: relative;
}
.hotproductslist>div>div{
    position: absolute;
    width:100%;
    padding: 0em 0em 1em 0em;
    bottom: 0px;
    background-color: RGBA(255,255,255,0.95);
    max-height: 100%;
}
.hotproductslist>div>div >*{
    padding-left: 1em;
    padding-right: 1em;
}

.hotproductslist>div>img{
    width:100%;
    
}
@media screen and (max-width: 520px){
    div.hotproductslist>div{
        width:80%;
        margin:24px 10% 24px 10%;
    }
}
@media screen and (min-width: 521px) and (max-width: 1060px){
    div.hotproductslist>div{
        width:calc(50% - 24px);
        margin:24px 12px;
    }
}