.productslist, .eventlist{
    width: 100%;
}
.productslist >div,.eventlist >div{
    margin: 5px;
    padding-bottom: 1em;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    background-color: #e6e6e6;
    border:2px solid #e6e6e6;
}
.productslist >div >img{
    width:100%;
}
.productslist >div >p{
    margin: 0px auto;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding: 0.5em 0em;
    width:90%;
    overflow: hidden;
}
.productslist >div >a{
    display: block;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #ff5000;
    color: white;
    text-decoration: none;
}
.eventlist >div >h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.eventlist >div >p{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.1em;
    max-height: 2.2em;
}
.eventlist >div >span{
    margin-right: 2em;
}
.eventlist >div >a{
    background-color: #333333;
    color:white;
    padding: 0.5em;
}
.pkeywords{
    padding-left: 1em;
}
@media screen and (orientation: landscape){
    .productslist >div,.eventlist >div{
        width:calc(25% - 14px);
    }
}
@media screen and (orientation: portrait){
    .productslist >div, .eventlist >div{
        width:calc(50% - 14px);
    }
}