@media screen and (orientation: landscape){
    .product{
        overflow: hidden;
        margin-top: 5%;
    }
    .product > div{
        
        vertical-align: top;
    }
    .productimage{
        display: inline-block;
        margin-left: 5%;
        width:40%;
    }
    .productstitle{
        margin-right: 2%;
        padding: 0em 2em;
        width:calc(50% - 4em);
        height:100%;
        position: relative;
        float:right;
    }
    .productdes{
        margin-left: 5%;
        width:calc(40% - 2em);
        margin-top: 5%;
    }
    .productsp >div{
        display: inline-block;
    }

}
@media screen and (orientation: portrait){
    .productimage{
        width:100%;
    }
    .productstitle{
        padding: 1em;
    }
}
.product{
    margin-bottom: 2em;
}
.product div {
    white-space: normal;
}
.productstitle >*{
    margin-bottom: 2em;
}
.productlink{
    width: 100%;
    display: block;
    padding: 1em 0em;
    background-color: #ff5000;
    text-align: center;
    color: white;
}
.icontb{
    color: white;
    background-color: #ff5000;
    margin-right: 0.5em;
}
.productatt{
    padding-bottom: 2em;
    font-size:0.5em;
    width:100%;
}
.productatt span{
    color:white;
    background-color: #333333;
    padding: 1em;
    margin:0em 0.5em 1em 0.5em;
    border-radius: 2em;
    display: inline-block;
}
.productsp >div{
    margin-left: 2em;
}
.productserviceP{
    padding-left: 3em;
    color: #bbbbbb;
    font-size: 0.75em;
}
.productdes{
    padding-left: 1em;
    padding-right: 1em;
}
.productdes>div{
    padding-left: 2em;
    padding-right: 2em;
    text-indent:-1em;
}
.productitem > div{
    color: #aaaaaa;
}
.productT{
    border-bottom: 1px solid #333333;
}
span.leftborder{
    border-left: 1px #eeeeee solid;
}
span.topborder{
    border-top:1px #eeeeee solid;
}
span.bottomborder{
    border-bottom: 1px #eeeeee solid;
}
span.rightborder{
    border-right:1px #eeeeee solid;
}